<!DOCTYPE html>
<html>
<head>
  <title>HangoutHelper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/header-nav' %>
<% flash.each do |key,value|%>
  <div class="row alert <%=key %>"><%=value %></div>
<% end %>
<%= yield %>
  <footer class="row">
  	<hr>
	<p>2013 Jake LaCombe</p>
  </footer>
</div>
</body>
</html>
